body{
    background-color:gray;
}

#cabecera

     { position:relative;
        height: 200px; 
        width: 100%;
         background-image: url("imagencabecera.jpg"); 
      }

      ul  {
        
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        
        
      }

      li{
        margin-inline:10%;

      }

      li a  {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration-line: underline;
        
      }

      h1 {
        color: white;
        font-size:24px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
      }

      a h1{
        color: white;
        font-size:24px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration-line: underline;

      }

 #cuerpo{
    background-color:floralwhite;
    position: relative;
    height: 800px; 
    width: 100%;
    
}

#verdiseño, #creatudiseño{
    background-image: url("fondo.jpg");
    border-radius: 20%;
    height: 200px;
    width: 40%;
    position:absolute;
}

#verdiseño{

        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        width: 300px;
        margin-left: 20%;
        top: 20%;
        bottom: 35%;
       
      }


#creatudiseño{
    
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        width: 300px;
        top: 20%;
        right: 20%;
       
        
      }

      .enlace a {
        height: 50px;
        width: 50px;
        text-decoration-line: underline;
        color: white;
      }

     
     
      .redes {
        background: white;
            width: 200px;       
            height: 50px;
            position: absolute;
            bottom: 0;
            right: 50%;
            margin-top: 100em;
            margin-right: -100px;
           }
  
 
        .redes {
          display: flex;
          justify-content: center;
        }
        
        .redes a {
          display: block;
          margin: 0 10px;
          width: 40px;
          height: 40px;
        }
        
        .botonyoutube {
          background-color: white;
          border-radius: 50%;
        }
        
        .botonfacebook {
          background-color:white;
          border-radius: 50%;
        }
        
        .botoninstagram {
          background-color:white;
          border-radius: 50%;
        }
        
        .redes img {
          display: block;
          margin: 0 auto;
          max-width: 100%;
          max-height: 100%;
        }

    #formulario1 
     {
      
        width: 100%;
        height: 50%;
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

    #formulario2
    {
      
      width: 100%;
      height: 50%;
      max-width: 600px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    #formulario1, #formulario2
    {
      position: relative;
      top: 15%;
      background-color:rgb(198, 194, 194);
      border-radius: 50%;
      width: 80%;
      height: 50%;
      
     
    }

    #imagenescrea  {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      
    }
    
    #imagenver  {
      display: flex;
      flex-wrap: wrap;
    justify-content: center;
      
    }
      
    

    #caja2 {
     /* background-image: url("fondo.jpg");*/
      height: 250px;
      width: 250px;
      margin: 40px;

  }
  #caja2 img{
    width: 100%; /* para asegurarse de que la imagen tenga el ancho completo del contenedor */
    height: auto; /* para mantener la relación de aspecto de la imagen */
    border-radius: 20%;
  }
  

  #caja 
  {
  background-image: url("fondo.jpg");
  border-radius: 20%;
  width: 260px;
  height: 260px;
  margin: 60px;
  margin-top: 1%;
  overflow: hidden; 
}

#caja img{
  width: 100%; /* para asegurarse de que la imagen tenga el ancho completo del contenedor */
  height: auto; /* para mantener la relación de aspecto de la imagen */
  border-radius: 20%;
}

h2{
  margin-inline:5%;

display: block;
        color:black;
        text-align: center;
        padding: 20px 20px;
        text-decoration-line: underline;

}





    
